<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" id="name" [(ngModel)] = "item.name" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="qnt">Quantity</label>
            <input type="number" id="qnt" [(ngModel)] = "item.qnt" class="form-control">
        </div>
    </div>
</div>
<div class="text-center row">
    <div class="col-md-5 pull">
        <button class="btn btn-primary  form-control" (click)="addItem()">Add Item</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <button class="btn btn-danger form-control">Delete Item</button>
    </div>
</div>